.app {
  height: 100vh;
  display: flex;
}

.left {
  width: 250px;
  overflow-y: auto;
}

.left .ant-list-item-meta-avatar {
  margin-inline-end: 10px !important;
}

.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.center_top {
  flex-grow: 1;
  background-color: #f2f2f2;
  overflow: auto;
}

.center_bottom {
  height: 400px;
  background-color: #cccccc6e;
  padding-left: 10px;
}

.right {
  width: 360px;
  /*user-select:none;*/
  position: relative;
}

.right .unUserSelect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ace_cursor {
  opacity: 0 !important;
}

.selectHoverA {
  opacity: 0;
}

.selectHover:hover .selectHoverA {
  opacity: 1;
}

